* {
    margin: 0;
    padding: 0;
}

body,
button,
.mainLoginInput::placeholder {
    font-family: 'Nunito', sans-serif;
}

.upper {
    background-image: url(images/upperDonate.jpg);
    background-size: cover;
    display: flex;
    display: block;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    margin-bottom: 50px;
}

.upper h1 {
    font-size: 60px;
    text-align: center;
    padding: 20px 0;
    color: whitesmoke;
    font-weight: 900;
    width: 50%;
    margin: auto;
}

.upper p,
.donate p,
.donate-plan p {
    font-size: 30px;
    text-align: center;
    width: 50%;
    margin: auto;
    color: aliceblue;
    padding: 20px 0;
}

.upper .btn,
.donate .btn {
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: tomato;
    color: aliceblue;
    font-weight: 600;
}

.donate h2,
.donate-plan h2,
.description h2 {
    font-size: 50px;
    text-align: center;
}

.donate p,
.donate-plan p,
.description p {
    color: #2C3639;
    font-size: 20px;
}

.donate-money {
    display: flex;
    justify-content: space-around;
    padding: 0 380px;
    margin: 30px 0;
}

.donate-money h1 {
    padding: 20px 30px;
    background-color: #F0EBE3;
    color: #2C3639;
    font-weight: 900;
}

.donate-money h1:nth-of-type(2) {
    color: tomato;
    border: 2px solid tomato;
    background-color: #F1EB9A;
}

.one-input {
    width: 50%;
    margin: 50px auto;
}

.one-input form {
    padding: 0 40px;
    box-sizing: border-box;
    border-bottom: 2px solid #9CB4CC;
}

.one-input input {
    border: none;
    font-size: 20px;
    background: none;
    outline: none;
    width: 100%;
}

.one-input label {
    font-size: 25px;
    color: #9CB4CC;
    display: block;
    text-align: center;
}

.donate form {
    margin-bottom: 40px;
}

.donate-plan {
    margin: 50px 0;
}

.items {
    display: flex;
    width: 90%;
    margin: auto;
    padding: auto;
    align-items: center;
    justify-content: center;
    /* padding: 4% 4%; */
}


#food,
#shelter,
#education {
    background-color: #C4D7E0;
    margin: 2%;
    padding: 2%;

}

#shelter {
    background-color: #FFDEDE;
}

#education {
    background-color: #FFF9D7;
}

#food p,
#shelter p,
#education p {
    float: left;
    text-align: left;
}

.description {
    width: 50%;
    margin: auto;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F0BB;
    width: 50%;
    margin: 60px auto;
    padding: 60px;
    border-radius: 5px;
}

.subscribe input[type="email"] {
    border: none;
    background-color: #9CB4CC;
    padding: 10px;
    padding-right: 90px;
    border-radius: 5px 0 0 5px;
}

.subscribe button {
    background-color: tomato;
    padding: 4px 15px;
    border: none;
    border-radius: 0 5px 5px 0;
    /* position: relative; */
}

.mainLoginInput::placeholder,
button {
    font-size: 20px;
}

button {
    color: aliceblue;
    font-family: inherit;
}


footer {
    background-color: #2C3639;

    padding: 30px;
}

footer h2,
p {
    text-align: center;
    color: tomato;
    margin: 20px;
}

footer h2 {
    font-size: 50px;
}

footer p {
    font-size: 20px;
    color: aliceblue;
}